################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ignite2019
/Ignite2019/bin/Debug/netcoreapp3.0
/Ignite2019/obj
/Ignite2019/bin/AnyCPU/Debug
/Ignite2019/bin/x86/Debug
Ignite2019/obj/Debug
/.vs
*.user
